<settings>
	<setting id="username" type="text" label="Username" default=""/>
	<setting id="password" type="text" label="Password" default="" option="hidden"/>
    <setting id="use_https" type="bool" label="Use HTTPS" default="false"/>
    <setting id="TV_sub_slug" type="text" visible="false"/>
    <setting id="Movies_sub_slug" type="text" visible="false"/>
    <setting id="TV_fav_slug" type="text" visible="false"/>
    <setting id="Movies_fav_slug" type="text" visible="false"/>
</settings>